<mat-spinner *ngIf="!isLoaded"></mat-spinner>
<ng-container *ngIf="isLoaded">

  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="mpc-header-create">{{mpc.name || ''}}<span> #{{mpc.id || ''}}</span></h1>
        <h2 class="author-header">Autor: {{mpc.author}}</h2>
      </div>
      <div class="col">
        <h1 class="mpc-describe-header">Opis</h1>
        <p class="mpc-describe">{{mpc.describe}}</p>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of mpc.tags">{{tag.name}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>

  <div id="mpc-console">
    <div class="pads">
      <app-mpc-console-pad *ngFor="let pad of mpc.pads" [pad]="pad"></app-mpc-console-pad>
    </div>
  </div>

</ng-container>


