.mpc-header-create {
  font-size: 50px;
  font-weight: 100;
  margin: 20px 0 0 4%;
  color: lighten(black, 10%);
  span {
    color: lighten(black, 20%);
    font-size: 30px;
  }
}

#mpc-console {
  padding-top: 10px;
  margin-left: 3%;
  .pads {
    width: 1000px;
    height: 450px;
    background: #95a5a6;
    margin: 20px auto;
    padding: 5px;
  }
}

.author-header {
  font-size: 35px;
  color: lighten(black, 15%);
  font-weight: 100;
  margin: 20px 0 0 5%;
}

.mpc-describe-header {
  margin-top: 20px;
  font-size: 20px;
}
.mpc-describe {
  margin-top: 10px;
}
