<form novalidate [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Tekst guzika" formControlName="padText"
           [errorStateMatcher]="matcher">
    <button mat-button *ngIf="form.controls.padText.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form.controls.padText.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Pole jest wymagane!</mat-hint>
    <mat-error *ngIf="form.controls.padText.hasError('maxLength')">
      Tekst może mieć maksymalnie <strong>12</strong> znaków
    </mat-error>
  </mat-form-field>

  <div class="fields-container">
    <mat-form-field>
      <app-input-file #file formControlName="file" placeholder="Required input" valuePlaceholder="No mp3 file selected"
                      required></app-input-file>
      <mat-icon matSuffix>folder</mat-icon>
      <mat-error *ngIf="form.get('file').hasError('required')">
        Please select a file
      </mat-error>
      <mat-error *ngIf="form.get('file').hasError('maxContentSize')">
        Rozmiar pliku jest za duży: maksymalny rozmiar {{form.get('file')?.getError('maxContentSize').maxSize | byteFormat}}
        Aktualny rozmiar: ({{form.get('file')?.getError('maxContentSize').actualSize | byteFormat}}).
      </mat-error>
      <mat-error *ngIf="form.get('file').hasError('fileFormat')">
        Zły typ pliku. Wybierz plik mp3.
      </mat-error>
    </mat-form-field>
    <i *ngIf="!isPlayed" class="fa fa-play play-sample-icon" aria-hidden="true" (click)="playSample()"></i>
    <i *ngIf="isPlayed" class="fa fa-pause play-sample-icon" aria-hidden="true" (click)="stopSample()"></i>
  </div>

  <button type="button" [disabled]="!canBeRemoved" (click)="removePad()" mat-raised-button>Usuń</button>
  <button type="submit" [disabled]="form.invalid" (click)="submitForm()" mat-raised-button>Zapisz</button>
</form>
