<mat-sidenav-container class="sidenav-fab-container" autosize>
  <!--<mat-sidenav #sidenav mode="push" opened="false" class="sidenav">-->
    <!--<app-side-nav-list *ngIf="menuItems | async" [menuItems]="menuItems | async"></app-side-nav-list>-->
  <!--</mat-sidenav>-->

  <div>
    <app-toolbar></app-toolbar>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
