<mat-toolbar #toolbar color="primary">
  <!--<button mat-button class="toolbar__button" (click)="onToggleMenu()">-->
    <!--<mat-icon>menu</mat-icon>-->
  <!--</button>-->
  <i class="fa fa-th-large" aria-hidden="true"></i>
  <h1 class="display-4">&nbsp; Music Player Console</h1>
  <app-menu></app-menu>
</mat-toolbar>
