#mpc-console {
  padding-top:15px;

  .pads {
    width:1000px;
    height:450px;
    background:#95a5a6;
    margin:5px auto;
    padding:5px;
  }
}

.mpc-header-create {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin: 50px 0 0 30px;
  color: lighten(black, 10%);
}

.mpc-save-button {
  padding: 10px;
  width: 100%;
}
