<h1 class="mpc-header-create">Tworzenie nowego MPC</h1>
<p class="text-center">Aby dodać muzykę do klawisza naciśnij go, następnie wpisz wyświetlany tekst oraz wybierz plik mp3, który będzie odtwarzany po zapisaniu</p>
<div id="mpc-console">
  <div class="pads">
    <app-mpc-pad (padEdited)="refreshMpc()" *ngFor="let key of MPC_KEYS" [padChar]="key"></app-mpc-pad>
  </div>
</div>
<div class="button-row">
  <h6 *ngIf="isMpcEmpty" class="text-center">Dodaj przynajmniej jeden dźwięk aby zapisać</h6>
  <button [disabled]="isMpcEmpty" mat-raised-button color="primary" class="mpc-save-button" (click)="showMpcPropertiesDialog()">Zapisz</button>
</div>
