.pad {
  width:100px;
  height:100px;
  float:left;
  background:#7f8c8d;
  margin:5px;
  border-radius:3px;
  &:hover {
    background:#f1c40f;
    cursor:pointer;
  }
  label {
    background:#2c3e50;
    color:#fff;
    display:block;
    height:30px;
    width:30px;
    text-align:center;
    line-height:30px;
    margin:5px;
    font-weight:700;
    border-radius:inherit;
  }
  span {
    float:right;
    display:block;
    text-align:right;
    font-size:17px;
    font-weight:300;
    margin: 27px 5px 5px;
    color: darken(white, 10%);
  }
  &.active {
    background:#f39c12;
  }
}

.active-pad {
  background: darken(#7f8c8d, 10%);
}
