<!--<div class="mpc-card card text-center hoverable " style="width: 22rem;" [routerLink]="['/mpc/' + mpc.id]">-->
<div class="mpc-card card text-center hoverable " style="width: 22rem;">
  <div class="card-header white-text" [ngClass]="headerColor">
    {{mpc.id}}
  </div>
  <div class="card-body">
    <h4 class="card-title">{{mpc.name}}</h4>
    <p class="card-text">{{mpc.describe}}</p>
    <a *ngIf="canBeEditable" class="btn btn-primary btn-sm waves-light animated infinite" (click)="remove()" [ngClass]="[playButtonColor]" mdbRippleRadius>Usuń</a>
    <a *ngIf="canBeEditable" class="btn btn-primary btn-sm waves-light animated infinite" [routerLink]="['/mpc/edit/' + mpc.id]" [ngClass]="[playButtonColor]" mdbRippleRadius>Edytuj</a>
    <a class="btn btn-primary btn-sm waves-light animated infinite" [routerLink]="['/mpc/' + mpc.id]" [ngClass]="[playButtonAnimation, playButtonColor]" mdbRippleRadius>Zagraj</a>
  </div>
  <div class="card-footer text-muted white-text" [ngClass]="footerColor">
    <p class="mb-0">{{mpc.author}}</p>
  </div>
</div>
