<button type="button" class="btn btn-default waves-light" [routerLink]="['/']" mdbRippleRadius>Strona główna</button>
<button *ngIf="isUsersLogged()" type="button" class="btn btn-default waves-light" [routerLink]="['/mpc/new']" mdbRippleRadius>Dodaj nowe mpc</button>
<button *ngIf="!isUsersLogged()" type="button" class="btn btn-default waves-light" (click)="login()" mdbRippleRadius>
  <i class="fa fa-google" aria-hidden="true"></i> Zaloguj się
</button>
<button *ngIf="isUsersLogged()" type="button" class="btn btn-default waves-light" (click)="logout()" mdbRippleRadius>
  <i class="fa fa-power-off" aria-hidden="true"></i> Wyloguj się
</button>
