<div class="welcome">
  <h1 *ngIf="!isUsersLogged" class="display-3">Witaj w aplikacji mpc</h1>
  <h1 *ngIf="isUsersLogged" class="display-3">{{getLoggedUserName()}} , witaj w aplikacji mpc</h1>

  <div class="button-row">
    <button *ngIf="isUsersLogged" mat-raised-button mdbRippleRadius color="primary" class="add-mpc-button animated pulse infinite hoverable btn btn-lg" [routerLink]="['/mpc/new']">Dodaj nowe mpc</button>
    <button *ngIf="!isUsersLogged" mat-raised-button mdbRippleRadius color="primary" class="add-mpc-button animated pulse infinite hoverable btn btn-lg" (click)="login()">
      <i class="fa fa-google" aria-hidden="true"></i> Zaloguj się aby dodać nowe mpc
    </button>
  </div>
</div>
<app-mpc-list></app-mpc-list>
