//noinspection CssUnknownTarget
.welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;

  h1 {
    text-align: center;
  }

  .welcome-header {
    font-size: 35px;
    font-weight: 300;
    font-bold: true;
    line-height: 10px;
    margin-top: 20px;
  }
}

.add-mpc-button {
  margin-top: 40px;
}

app-mpc-list {
  margin-top: 10px;
}
