<form novalidate [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Nazwa mpc" formControlName="name"
           [errorStateMatcher]="matcher">
    <button mat-button *ngIf="form.controls.name.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form.controls.name.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Pole jest wymagane!</mat-hint>
    <mat-error *ngIf="form.controls.name.hasError('required')">
      Nazwa mpc jest <strong>wymagana</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="demo-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                [removable]="removable" (remove)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Dodaj tag..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)" />
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Opis" formControlName="describe" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5" [errorStateMatcher]="matcher"></textarea>
    <button mat-button *ngIf="form.controls.describe.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.describe.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Autor" formControlName="author"
           [errorStateMatcher]="matcher">
    <button mat-button *ngIf="form.controls.author.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="form.controls.author.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Pole jest wymagane!</mat-hint>
    <mat-error *ngIf="form.controls.author.hasError('required')">
      Autor jest <strong>wymagany</strong>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button [disabled]="form.invalid" mat-raised-button color="primary" class="mpc-save-button" type="submit" (click)="saveMpc()">Zapisz</button>
  </div>
</form>
