<mat-chip-list *ngIf="isUserLogged" class="d-flex justify-content-center">
  <mat-chip (click)="showUserMpcs()">Pokaż moje mpc</mat-chip>
</mat-chip-list>

<mat-form-field class="filter-input">
  <input matInput placeholder="Wyszukaj..." [ngModel]="filterModel" (ngModelChange)="filter($event)">
</mat-form-field>

<mat-chip-list class="d-flex justify-content-center">
  <mat-chip (click)="clearFilter()">Pokaż wszystkie</mat-chip>
</mat-chip-list>

<div class="d-flex flex-wrap">
  <app-mpc-card (mpcRemoved)="refreshList()" [mpc]="mpc"
                *ngFor="let mpc of mpcsToFilter | mpcListFilter : filterValue | mpcListTags : tagFilter | userMpcList : userId"></app-mpc-card>
</div>

<mat-chip-list class="d-flex justify-content-center tags-row">
  <mat-chip *ngFor="let tag of tags" (click)="showByTag(tag)">{{tag}}</mat-chip>
</mat-chip-list>

