mat-grid-tile {
  background: lightblue;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.mpc-tile {
  width: 25%;
  //height: 100px;
  margin-top: 120px;
}

.mpc-list-container {
  display: flex;
  flex-direction: row;
}

.filter-input {
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
}

.tags-row {
  margin: 20px 0;
}
