<li class="sidenav__list-item" [ngClass]="{'sidenav__list-item-parent': hasChildren}">
  <a [routerLink]="[menuItem.url]"
     routerLinkActive="{{'active'}}"
     class="sidenav__list-item--anchor">
    <i class="material-icons">{{menuItem.icon}}</i>
    {{menuItem.name}}
  </a>

  <div *ngIf="hasChildren" class="content" [@collapseChange]="!isCollapsed">
    <ng-content select=".collapsible-content"></ng-content>
    <app-side-nav-list [menuItems]="menuItem.subItems"></app-side-nav-list>
  </div>
</li>
